* {
  margin: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
  width: 70%;
  /* padding-left: 10%;
  padding-right: 10%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* height: 80vh; */
  
  /* height: 2000px;
  width: 400px;
  

  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px; */
}
/******************************* HEADER *******************************/
.Header {
  /* background-color:red; */
  width: 100%;
  min-height: 10vh;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.myLogo {
  width: 130px;
}

.Navigation {
  flex: 1; /* lets all the flexible items be the same length, regardless of its content */
  text-align: right; /* navlinks go to right of header */
}

#navLinks li { /* remember to apply to 'li' specifically to affect the items within the ul #navLinks -> #navLinks li */
  /* background-color:yellow;
  border: 1px solid black; */
  list-style-type: none; /* gets rid of bullet points on an <ul> */
  display: inline-block; /* display links horizontally instead of verically */
  padding: 1rem;
}

#navLinks li a { /* <Link /> in Navigation.js comes out as a tag within the dom (refer to in dev tools on chrome) */
  text-decoration: none; /* removes underlined links */
  color: black;
  opacity: 0.6;
}

#navLinks li a:hover {
  opacity: 1;
}

#navLinks li a:active {
  background-color: red;
}

.MenuButton { 
  display: none;
}



/******************* hamburger menu *******************/
.NavigationResponsive {
  display: none;
}

#navLinksResponsive li {
  list-style-type: none;
  /* padding: 1rem; */
}

#navLinksResponsive li a {
  text-decoration: none;
  color: black;
  opacity: 0.6;
  
}

@media only screen and (max-width:1008px) { /* 768px = tablet width */
  /* #navLinks {
    width: 100%;
    background: linear-gradient(rgb(235, 235, 235), rgb(212, 212, 212));
    position: absolute;
    top: 110px;
    right: 0;
    z-index: 2;
  }
  #navLinks li {
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
  } */
  .MenuButton {
    display:block;
  }

  #navLinks li {
    display:none;
  }

  .NavigationResponsive {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    background-color: green;
    
    top: 0;
    width: 10%;
    /* justify-content: center;
    background-color: green;
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    width: 200px;
    right: 0;
    top: 10; */
    
  }
  
}
/******************* hamburger menu *******************/

/******************************* HEADER *******************************/


/******************************* BODY *******************************/
#portfolioImg {
  
  width: 250px;
  /* border: 1px black solid;
  border-radius: 50%; */
} 
/******************************* BODY *******************************/



/******************************* FOOTER *******************************/
.Footer {
  /* border: 1px solid black; */
  text-align: center;
  padding: 1rem;
  opacity: 0.6;
}

#contactLinks {
  list-style-type: none; /* gets rid of bullet points on an <ul> */
  padding: 0; /* list have padding by default */
  
}

#contactLinks li{
  display: inline-block;
  padding: 7px;
  /* border: 1px solid black;
  border-radius: 50%; */
}

.fab, .fas{
  color: black;
  opacity: 0.7;
}

.fab:hover, .fas:hover {
  opacity: 1;
  font-size: 2.2em;
  transition: 0.1s ease-out;
}
/******************************* FOOTER *******************************/

