* {
  margin: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
  width: 70%;
}

@media only screen and (max-width:1008px) {
  body {
    width: 85%;
  }
}

/******************************* HEADER *******************************/
.Header {
  width: 100%;
  min-height: 10vh;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.myLogo {
  width: 130px;
}

.Navigation {
  flex: 1; /* lets all the flexible items be the same length, regardless of its content */
  text-align: right; /* navlinks go to right of header */
}

#navLinks li { /* remember to apply to 'li' specifically to affect the items within the ul #navLinks -> #navLinks li */
  list-style-type: none; /* gets rid of bullet points on an <ul> */
  display: inline-block; /* display links horizontally instead of verically */
  padding: 1rem;
}

#navLinks li a { /* <Link /> in Navigation.js comes out as a tag within the dom (refer to in dev tools on chrome) */
  text-decoration: none; /* removes underlined links */
  color: black;
  opacity: 0.6;
}

#navLinks li a:hover {
  opacity: 1;
}

.navActive {
  border-top: 1.5px black solid;
  opacity: 1; 
  transform: scale(1.03);
}

.MenuButton { 
  display: none;
}

/******************* hamburger menu *******************/
.NavigationResponsive {
  display: none;
}

#navLinksResponsive li {
  list-style-type: none;
  padding: 1rem;
}

#navLinksResponsive li a {
  text-decoration: none;
  color: black;  
}

@media only screen and (max-width:1008px) { /* 768px = tablet width */
  .MenuButton {
    display:block;
  }

  #navLinks li {
    display:none;
  }

  .NavigationResponsive {
    display: block;
    text-align: center;
    position: fixed; 
    background-color: rgba(220, 220, 220, 0.96) ;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    left: 0;
    width: 100%;
    transition: max-height 0.2s ease-out;
    /* transform: translateY(-10px);
    transition: all 0.4 ease; */
    /* justify-content: center;
    background-color: green;
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    width: 200px;
    right: 0;
    top: 10; */
  }
}

/******************* hamburger menu *******************/

/******************************* HEADER *******************************/


/******************************* HOME *******************************/
#portfolioImg {
  width: 250px;
  /* border: 1px black solid; */
  border-radius: 50%;
} 
/******************************* HOME *******************************/



/******************************* ABOUT *******************************/
.AboutItems {
  /* border: 1px solid red; */
  margin: 1rem;
}

.AboutItems h3 {
  display: inline-block;
}

.AboutItems i {
  padding-right: 1rem;
}

#resume {
  text-align: center;
}
/******************************* ABOUT *******************************/

/******************************* PROJECTS *******************************/
/* code projects css */
/******************************* PROJECTS *******************************/
.ProjectsItems {
  box-sizing: border-box;
  padding: 1rem;
  width: 50%;
  display: inline-block;
  /* border: 1px solid red; */
}

.ProjectsItems img{
  border-radius: 15px;
  height: 400px;
  width: 100%;
}

@media only screen and (max-width:1008px) {
  .ProjectsItems {
    width: 100%;
  }
}

@media only screen and (max-width:500px) {
  .ProjectsItems img{
    height: 250px;
  }
}
/******************************* FOOTER *******************************/
.Footer {
  border-top: 1px solid lightgray;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  opacity: 0.6;
}

#contactLinks {
  list-style-type: none; /* gets rid of bullet points on an <ul> */
  padding: 0; /* list have padding by default */ 
}

#contactLinks li{
  display: inline-block;
  padding: 7px;
  /* border: 1px solid black;
  border-radius: 50%; */
}

.fab, .fas{
  color: black;
  opacity: 0.7;
}

.contactIcons .fab:hover, .contactIcons .fas:hover {
  opacity: 1;
  transform: scale(1.1); /* expands the elements 1.1 its size */
  transition: 0.2s ease-in-out; /* smothens the transition a bit; animation duration = 0.2s */
  /* font-size: 2.2em; this makes all div elements movie in accordance to the one expanding  */
}

.MenuButton .fab:hover, .MenuButton .fas:hover {
  opacity: 1;
  transform: scale(1.1); /* expands the elements 1.1 its size */
  transition: 0.2s ease-in-out; /* smothens the transition a bit; animation duration = 0.2s */
}
/******************************* FOOTER *******************************/

